.nav__link--active {
    text-decoration: none !important;
}

.col--margin:nth-child(3n) {
    margin-right: 0;
} 

.title--width {
    max-width: 750px;
   	word-wrap:break-word;
}

.post-head {
    display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
    -webkit-box-pack: justify;
  	-ms-flex-pack: justify;
  	justify-content: space-between;
    -webkit-box-align: center;
  	-ms-flex-align: center;
  	align-items: center;
}

.post-head-buttons {
    display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
}

.post-img img {
  margin: 0 auto;
}
