.nav__link--active {
    text-decoration: none !important;
}

.col--margin:nth-child(3n) {
    margin-right: 0;
} 

.title--width {
    max-width: 750px;
   	word-wrap:break-word;
}

.post-head {
    display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
    -webkit-box-pack: justify;
  	-ms-flex-pack: justify;
  	justify-content: space-between;
    -webkit-box-align: center;
  	-ms-flex-align: center;
  	align-items: center;
}

.post-head-buttons {
    display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
}

.post-img img {
  margin: 0 auto;
}

.pagination {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-left:  auto;
    margin-right: auto;
}

.pagination__item {
    background: none repeat scroll 0 0 #eee;
    color: #222;
    height: 42px;
    line-height: 1;
    text-decoration: none;
    padding: 15px 18px;
    border-radius: 6px;
    margin: 0 10px;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.pagination__item:hover {
    background-color: #3866c5;
    color: #fff;
}

.pagination__item:active  {
    background-color: #0060cf;
    color: #fff;
}

.pagination__item--active  {
    background-color: #0060cf;
    color: #fff;
}

.separate-work-image-preview {
  margin: 0 auto;
}
